<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss-icons@0.1.1/tailwindcss-icons.css" rel="stylesheet">

</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex">
        <!-- Sidebar -->
        <div class="bg-blue-900 text-blue-100 w-64 space-y-6 py-7 px-2 relative">
            <div class="text-white text-2xl flex flex-col items-start space-y-2 px-4">
                <span class="text-3xl font-extrabold">Admin</span>
                <span>Dashboard</span>
            </div>
            <div class="px-4">
                <p class="font-bold">{{ current_user.first_name }} {{ current_user.last_name }}</p>
            </div>
            <nav class="flex flex-col space-y-2 mt-4">
                <a href="{{ url_for('home.home') }}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">Inicio</a>
                <a href="{{ url_for('user.usuarios', section='usuarios') }}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">Usuarios</a>
                <a href="{{ url_for('project.proyectos', section='proyectos') }}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">Proyectos</a>
                <a href="{{ url_for('machine.maquinas', section='maquinas') }}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">Máquinas</a>
                <a href="{{ url_for('solvent.solventes', section='solventes') }}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">Solventes</a>
                <a href="{{ url_for('sample.muestras', section='muestras') }}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">Muestras</a>
                <a href="{{ url_for('sample_preparation.sample_preparations', section='samplePreparations') }}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">Preparación muestra</a>
                <div class="nav-footer mt-auto">
                    <a href="{{ url_for('auth.logout') }}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">Logout</a>
                </div>
            </nav>
        </div>
        <!-- Content -->
        <div class="flex-1 p-10 text-lg">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="mb-4">
                        {% for category, message in messages %}
                            <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-{{ 'red-500' if category == 'danger' else 'green-500' }}">
                                <span class="text-xl inline-block mr-5 align-middle">
                                    <i class="fas fa-bell"></i>
                                </span>
                                <span class="inline-block align-middle mr-8">
                                    <b class="capitalize">{{ category }}!</b> {{ message }}
                                </span>
                                <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-1 mr-2 outline-none focus:outline-none" onclick="this.parentElement.remove()">
                                    <span>×</span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% if section == 'usuarios' %}
                <div class="flex justify-between items-center mb-6">
                    <h1 class="text-2xl">Usuarios</h1>
                    <button id="openModal" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
                <table class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 bg-gray-200">RUT</th>
                            <th class="py-2 px-4 bg-gray-200">Nombre</th>
                            <th class="py-2 px-4 bg-gray-200">Apellido</th>
                            <th class="py-2 px-4 bg-gray-200">Teléfono</th>
                            <th class="py-2 px-4 bg-gray-200">Correo</th>
                            <th class="py-2 px-4 bg-gray-200">Rol</th>
                            <th class="py-2 px-4 bg-gray-200">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td class="border px-4 py-2">{{ usuario.rut }}</td>
                                <td class="border px-4 py-2">{{ usuario.first_name }}</td>
                                <td class="border px-4 py-2">{{ usuario.last_name }}</td>
                                <td class="border px-4 py-2">{{ usuario.phone }}</td>
                                <td class="border px-4 py-2">{{ usuario.email }}</td>
                                <td class="border px-4 py-2">{{ usuario.role.name }}</td>
                                <td class="border px-4 py-2">
                                    <div class="flex space-x-2">
                                        <a href="#" class="btn btn-edit">
                                            <div class="bg-blue-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L13 4.172 15.828 7l1.586-1.586a2 2 0 000-2.828zM12 5l3 3-9 9H3v-3l9-9z"/>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="btn btn-delete" data-rut="{{ usuario.rut }}">
                                            <div class="bg-red-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M8 4a1 1 0 011-1h2a1 1 0 011 1v1h5a1 1 0 110 2h-1v9a2 2 0 01-2 2H6a2 2 0 01-2-2V7H3a1 1 0 110-2h5V4zm1 3a1 1 0 00-1 1v7a1 1 0 102 0V8a1 1 0 00-1-1zm4 1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd"/>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif section == 'proyectos' %}
                <div class="flex justify-between items-center mb-6">
                    <h1 class="text-2xl">Proyectos</h1>
                    <button id="openProjectModal" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
                <table class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 bg-gray-200">Nombre</th>
                            <th class="py-2 px-4 bg-gray-200">Fondo</th>
                            <th class="py-2 px-4 bg-gray-200">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectos %}
                            <tr>
                                <td class="border px-4 py-2">{{ proyecto.name }}</td>
                                <td class="border px-4 py-2">{{ proyecto.fondo }}</td>
                                <td class="border px-4 py-2">
                                    <div class="flex space-x-2">
                                        <a href="#" class="btn btn-edit-project" data-id="{{ proyecto.id }}" data-name="{{ proyecto.name }}" data-fondo="{{ proyecto.fondo }}">
                                            <div class="bg-blue-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L13 4.172 15.828 7l1.586-1.586a2 2 0 000-2.828zM12 5l3 3-9 9H3v-3l9-9z"/>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="btn btn-delete-project" data-id="{{ proyecto.id }}">
                                            <div class="bg-red-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M8 4a1 1 0 011-1h2a1 1 0 011 1v1h5a1 1 0 110 2h-1v9a2 2 0 01-2 2H6a2 2 0 01-2-2V7H3a1 1 0 110-2h5V4zm1 3a1 1 0 00-1 1v7a1 1 0 102 0V8a1 1 0 00-1-1zm4 1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd"/>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="border px-4 py-2 text-center" colspan="3">No hay proyectos registrados.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif section == 'maquinas' %}
                <div class="flex justify-between items-center mb-6">
                    <h1 class="text-2xl">Máquinas</h1>
                    <button id="openMachineModal" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
                <table class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 bg-gray-200">Nombre</th>
                            <th class="py-2 px-4 bg-gray-200">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for maquina in maquinas %}
                            <tr>
                                <td class="border px-4 py-2">{{ maquina.name }}</td>
                                <td class="border px-4 py-2">
                                    <div class="flex justify-center space-x-2">
                                        <a href="#" class="btn btn-edit-machine" data-id="{{ maquina.id }}" data-name="{{ maquina.name }}">
                                            <div class="bg-blue-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L13 4.172 15.828 7l1.586-1.586a2 2 0 000-2.828zM12 5l3 3-9 9H3v-3l9-9z"/>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="btn btn-delete-machine" data-id="{{ maquina.id }}">
                                            <div class="bg-red-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M8 4a1 1 0 011-1h2a1 1 0 011 1v1h5a1 1 0 110 2h-1v9a2 2 0 01-2 2H6a2 2 0 01-2-2V7H3a1 1 0 110-2h5V4zm1 3a1 1 0 00-1 1v7a1 1 0 102 0V8a1 1 0 00-1-1zm4 1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd"/>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="border px-4 py-2 text-center" colspan="2">No hay máquinas registradas.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif section == 'solventes' %}
                <div class="flex justify-between items-center mb-6">
                    <h1 class="text-2xl">Solventes</h1>
                    <button id="openSolventModal" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
                <table class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 bg-gray-200">Nombre</th>
                            <th class="py-2 px-4 bg-gray-200">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solvent in solvents %}
                            <tr>
                                <td class="border px-4 py-2">{{ solvent.name }}</td>
                                <td class="border px-4 py-2">
                                    <div class="flex space-x-2">
                                        <a href="#" class="btn btn-edit-solvent" data-id="{{ solvent.id }}" data-name="{{ solvent.name }}">
                                            <div class="bg-blue-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L13 4.172 15.828 7l1.586-1.586a2 2 0 000-2.828zM12 5l3 3-9 9H3v-3l9-9z"/>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="btn btn-delete-solvent" data-id="{{ solvent.id }}">
                                            <div class="bg-red-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M8 4a1 1 0 011-1h2a1 1 0 011 1v1h5a1 1 0 110 2h-1v9a2 2 0 01-2 2H6a2 2 0 01-2-2V7H3a1 1 0 110-2h5V4zm1 3a1 1 0 00-1 1v7a1 1 0 102 0V8a1 1 0 00-1-1zm4 1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd"/>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="border px-4 py-2 text-center" colspan="2">No hay solventes registrados.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif section == 'samples' %}
                <div class="flex justify-between items-center mb-6">
                    <h1 class="text-2xl">Muestras</h1>
                    <button id="openSampleModal" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
                <table class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 bg-gray-200">Nombre</th>
                            <th class="py-2 px-4 bg-gray-200">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample in samples %}
                            <tr>
                                <td class="border px-4 py-2">{{ sample.name }}</td>
                                <td class="border px-4 py-2">
                                    <div class="flex space-x-2 justify-center">
                                        <a href="#" class="btn btn-edit-sample" data-id="{{ sample.id }}" data-name="{{ sample.name }}">
                                            <div class="bg-blue-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L13 4.172 15.828 7l1.586-1.586a2 2 0 000-2.828zM12 5l3 3-9 9H3v-3l9-9z"/>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="btn btn-delete-sample" data-id="{{ sample.id }}">
                                            <div class="bg-red-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M8 4a1 1 0 011-1h2a1 1 0 011 1v1h5a1 1 0 110 2h-1v9a2 2 0 01-2 2H6a2 2 0 01-2-2V7H3a1 1 0 110-2h5V4zm1 3a1 1 0 00-1 1v7a1 1 0 102 0V8a1 1 0 00-1-1zm4 1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd"/>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="border px-4 py-2 text-center" colspan="2">No hay muestras registradas.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif section == 'sample_preparations' %}
                <div class="flex justify-between items-center mb-6">
                    <h1 class="text-2xl">Preparación de Muestras</h1>
                    <button id="openSamplePreparationModal" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
                <table class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 bg-gray-200">Nombre</th>
                            <th class="py-2 px-4 bg-gray-200">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample_preparation in sample_preparations %}
                            <tr>
                                <td class="border px-4 py-2">{{ sample_preparation.name }}</td>
                                <td class="border px-4 py-2">
                                    <div class="flex space-x-2 justify-center">
                                        <a href="#" class="btn btn-edit-sample-preparation" data-id="{{ sample_preparation.id }}" data-name="{{ sample_preparation.name }}">
                                            <div class="bg-blue-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L13 4.172 15.828 7l1.586-1.586a2 2 0 000-2.828zM12 5l3 3-9 9H3v-3l9-9z"/>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="btn btn-delete-sample-preparation" data-id="{{ sample_preparation.id }}">
                                            <div class="bg-red-500 p-2 rounded">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M8 4a1 1 0 011-1h2a1 1 0 011 1v1h5a1 1 0 110 2h-1v9a2 2 0 01-2 2H6a2 2 0 01-2-2V7H3a1 1 0 110-2h5V4zm1 3a1 1 0 00-1 1v7a1 1 0 102 0V8a1 1 0 00-1-1zm4 1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd"/>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="border px-4 py-2 text-center" colspan="2">No hay preparaciones de muestra registradas.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif section == 'home' %}
                <!-- Resumen de estadísticas -->
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6 mb-6">
                    <div class="bg-blue-500 text-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl">Usuarios</h2>
                        <p class="text-4xl">{{total_usuarios}}</p>
                    </div>
                    <div class="bg-green-500 text-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl">Proyectos</h2>
                        <p class="text-4xl">{{total_proyectos}}</p>
                    </div>
                    <div class="bg-purple-500 text-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl">Máquinas</h2>
                        <p class="text-4xl">{{total_maquinas}}</p>
                    </div>
                    <div class="bg-yellow-500 text-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl">Solventes</h2>
                        <p class="text-4xl">{{total_solventes}}</p>
                    </div>
                    <div class="bg-red-500 text-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl">Muestras</h2>
                        <p class="text-4xl">{{total_muestras}}</p>
                    </div>
                    <div class="bg-teal-500 text-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl">Preparaciones de Muestras</h2>
                        <p class="text-4xl">{{total_preparaciones}}</p>
                    </div>
                </div>
            {% else %}
                <section class="bg-white dark:bg-gray-900">
                    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                        <div class="mx-auto max-w-screen-sm text-center">
                            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">404</h1>
                            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Something's missing.</p>
                            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>
                            <a href="#" class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">Back to Homepage</a>
                        </div>
                    </div>
                </section>

            {% endif %}

        </div>
    </div>

    <!-- Create User Modal -->
    <div id="modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Crear Usuario</h2>
            <form method="POST" action="{{ url_for('user.crear_usuario') }}" onsubmit="return closeModalOnSubmit()">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-4">
                    <label for="rut" class="block text-gray-700">RUT</label>
                    <input type="text" name="rut" id="rut" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="first_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="first_name" id="first_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="last_name" class="block text-gray-700">Apellido</label>
                    <input type="text" name="last_name" id="last_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="phone" class="block text-gray-700">Teléfono</label>
                    <input type="text" name="phone" id="phone" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-700">Correo</label>
                    <input type="email" name="email" id="email" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="role_id" class="block text-gray-700">Rol</label>
                    <select name="role_id" id="role_id" class="w-full px-3 py-2 border rounded-lg" required>
                        {% for role in roles %}
                            <option value="{{ role.id }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Delete User Modal -->
    <div id="confirmModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
            <h2 class="text-2xl mb-4">Confirmación</h2>
            <p>¿Estás seguro de que quieres eliminar este usuario?</p>
            <div class="flex justify-end mt-4">
                <button type="button" id="cancelDelete" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                <button type="button" id="confirmDelete" class="bg-red-500 text-white py-2 px-4 rounded-lg">Aceptar</button>
            </div>
        </div>
    </div>

    <!-- Edit User Modal -->
    <div id="editModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Editar Usuario</h2>
            <form id="editUserForm" method="POST" action="{{ url_for('user.editar_usuario') }}" onsubmit="return closeEditModalOnSubmit()">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="original_rut" id="edit_original_rut">
                <div class="mb-4">
                    <label for="edit_rut" class="block text-gray-700">RUT</label>
                    <input type="text" name="rut" id="edit_rut" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="edit_first_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="first_name" id="edit_first_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="edit_last_name" class="block text-gray-700">Apellido</label>
                    <input type="text" name="last_name" id="edit_last_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="edit_phone" class="block text-gray-700">Teléfono</label>
                    <input type="text" name="phone" id="edit_phone" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="edit_email" class="block text-gray-700">Correo</label>
                    <input type="email" name="email" id="edit_email" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="edit_role_id" class="block text-gray-700">Rol</label>
                    <select name="role_id" id="edit_role_id" class="w-full px-3 py-2 border rounded-lg" required>
                        {% for role in roles %}
                            <option value="{{ role.id }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeEditModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Create Project Modal -->
    <div id="projectModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Crear Proyecto</h2>
            <form method="POST" action="{{ url_for('project.crear_proyecto') }}" onsubmit="return closeModalOnSubmit('projectModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-4">
                    <label for="project_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="project_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="project_fondo" class="block text-gray-700">Fondo</label>
                    <input type="text" name="fondo" id="project_fondo" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeProjectModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Project Modal -->
    <div id="editProjectModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Editar Proyecto</h2>
            <form id="editProjectForm" method="POST" action="{{ url_for('project.editar_proyecto') }}" onsubmit="return closeModalOnSubmit('editProjectModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="id" id="edit_project_id">
                <div class="mb-4">
                    <label for="edit_project_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="edit_project_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="edit_project_fondo" class="block text-gray-700">Fondo</label>
                    <input type="text" name="fondo" id="edit_project_fondo" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeEditProjectModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Delete Project Modal -->
    <div id="confirmProjectModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
            <h2 class="text-2xl mb-4">Confirmación</h2>
            <p>¿Estás seguro de que quieres eliminar este proyecto?</p>
            <div class="flex justify-end mt-4">
                <button type="button" id="cancelProjectDelete" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                <button type="button" id="confirmProjectDelete" class="bg-red-500 text-white py-2 px-4 rounded-lg">Aceptar</button>
            </div>
        </div>
    </div>

    <!-- Create Machine Modal -->
    <div id="machineModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Crear Máquina</h2>
            <form method="POST" action="{{ url_for('machine.crear_maquina') }}" onsubmit="return closeModalOnSubmit('machineModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-4">
                    <label for="machine_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="machine_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeMachineModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Machine Modal -->
    <div id="editMachineModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Editar Máquina</h2>
            <form id="editMachineForm" method="POST" action="{{ url_for('machine.editar_maquina') }}" onsubmit="return closeModalOnSubmit('editMachineModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="id" id="edit_machine_id">
                <div class="mb-4">
                    <label for="edit_machine_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="edit_machine_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeEditMachineModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Delete Machine Modal -->
    <div id="confirmMachineModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
            <h2 class="text-2xl mb-4">Confirmación</h2>
            <p>¿Estás seguro de que quieres eliminar esta máquina?</p>
            <div class="flex justify-end mt-4">
                <button type="button" id="cancelDeleteMachine" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                <button type="button" id="confirmDeleteMachine" class="bg-red-500 text-white py-2 px-4 rounded-lg">Aceptar</button>
            </div>
        </div>
    </div>

    <!-- Create Solvent Modal -->
    <div id="solventModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Crear Solvente</h2>
            <form method="POST" action="{{ url_for('solvent.crear_solvente') }}" onsubmit="return closeModalOnSubmit('solventModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-4">
                    <label for="solvent_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="solvent_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeSolventModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Solvent Modal -->
    <div id="editSolventModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Editar Solvente</h2>
            <form id="editSolventForm" method="POST" action="{{ url_for('solvent.editar_solvente') }}" onsubmit="return closeModalOnSubmit('editSolventModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="id" id="edit_solvent_id">
                <div class="mb-4">
                    <label for="edit_solvent_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="edit_solvent_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeEditSolventModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Delete Solvent Modal -->
    <div id="confirmSolventModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
            <h2 class="text-2xl mb-4">Confirmación</h2>
            <p>¿Estás seguro de que quieres eliminar este solvente?</p>
            <div class="flex justify-end mt-4">
                <button type="button" id="cancelDeleteSolvent" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                <button type="button" id="confirmDeleteSolvent" class="bg-red-500 text-white py-2 px-4 rounded-lg">Aceptar</button>
            </div>
        </div>
    </div>

    <!-- Create Sample Preparation Modal -->
    <div id="samplePreparationModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Crear Preparación de Muestra</h2>
            <form method="POST" action="{{ url_for('sample_preparation.crear_sample_preparation') }}" onsubmit="return closeModalOnSubmit('samplePreparationModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-4">
                    <label for="sample_preparation_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="sample_preparation_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeSamplePreparationModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Sample Preparation Modal -->
    <div id="editSamplePreparationModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Editar Preparación de Muestra</h2>
            <form id="editSamplePreparationForm" method="POST" action="{{ url_for('sample_preparation.editar_sample_preparation') }}" onsubmit="return closeModalOnSubmit('editSamplePreparationModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="id" id="edit_sample_preparation_id">
                <div class="mb-4">
                    <label for="edit_sample_preparation_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="edit_sample_preparation_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeEditSamplePreparationModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Delete Sample Preparation Modal -->
    <div id="confirmSamplePreparationModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
            <h2 class="text-2xl mb-4">Confirmación</h2>
            <p>¿Estás seguro de que quieres eliminar esta preparación de muestra?</p>
            <div class="flex justify-end mt-4">
                <button type="button" id="cancelDeleteSamplePreparation" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                <button type="button" id="confirmDeleteSamplePreparation" class="bg-red-500 text-white py-2 px-4 rounded-lg">Aceptar</button>
            </div>
        </div>
    </div>

    <!-- Create Sample Modal -->
    <div id="sampleModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Crear Muestra</h2>
            <form method="POST" action="{{ url_for('sample.crear_muestra') }}" onsubmit="return closeModalOnSubmit('sampleModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-4">
                    <label for="sample_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="sample_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeSampleModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Sample Modal -->
    <div id="editSampleModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Editar Muestra</h2>
            <form id="editSampleForm" method="POST" action="{{ url_for('sample.editar_muestra') }}" onsubmit="return closeModalOnSubmit('editSampleModal')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="id" id="edit_sample_id">
                <div class="mb-4">
                    <label for="edit_sample_name" class="block text-gray-700">Nombre</label>
                    <input type="text" name="name" id="edit_sample_name" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeEditSampleModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Delete Sample Modal -->
    <div id="confirmSampleModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
            <h2 class="text-2xl mb-4">Confirmación</h2>
            <p>¿Estás seguro de que quieres eliminar esta muestra?</p>
            <div class="flex justify-end mt-4">
                <button type="button" id="cancelDeleteSample" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                <button type="button" id="confirmDeleteSample" class="bg-red-500 text-white py-2 px-4 rounded-lg">Aceptar</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
</body>
</html>
