.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    color: white;
}

.btn-edit {
    background-color: #3b82f6; /* Tailwind blue-500 */
}

.btn-edit:hover {
    background-color: #2563eb; /* Tailwind blue-600 */
}

.btn-delete {
    background-color: #ef4444; /* Tailwind red-500 */
}

.btn-delete:hover {
    background-color: #dc2626; /* Tailwind red-600 */
}

table th, table td {
    text-align: center;
    padding: 10px;
}

table th {
    background-color: #f8f8f8;
}